.active{
    font-weight: bolder;
    color: #5f6f81 !important;
    font-size: 1.1em;
}
i{
    margin-right: .5em;
}
nav{
    color: #5f6f81 !important;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.13), 0 2px 5px rgba(0,0,0,0.20);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.navbar{
    padding: 0;
}
.collapse{
    transition: all 0.25s ease-in-out;
}

.navbar-toggler{
    margin-top: 5px;
}
.navbar-brand{
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    img{
        height: 30px;
    }
}

.user-item{
    margin-left: 5px;
}

.user-icon{
    padding: 5px 0 5px 0;
    line-height: 50px !important;
    font-size: 1.2em;
}
.nav-item{
    padding: 0 5px;
    transition: all .2s ease-in-out;
}

.nav-link{
    padding: 0;
}

.search-btn{
    background-color: white;
    border: 1px solid #5f6f81;
    color: #5f6f81;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover{
        background-color: #5f6f81;
        color: white;
    }
}

input.form-control{
    outline: none;
    &:focus{
        border: 1px solid #5f6f81;
    }
}

.dropdown-menu.dropdown-menu-right{
    margin: 0;
    padding: 0;
}

.dropdown-item{
    transition: all 0.25s ease-in-out;
        &:hover{
            color: white;
            background-color: #5f6f81;
        }
        line-height: 1.5rem;
}

.nienguelito{
    display: none;
}

@media(min-width: 992px){
    .nienguelito{
            display: block;
            position: fixed;
            background-color: white;
            opacity: 0.85; 
            top: 0;
            left: 0;
            right: 0;
            z-index: 90;
            height: 60px;
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);
        }
    .navbar{
        height: 60px;
        background-color: rgba(255,255,255, 0.8);
        
    }
    .navbar-brand, .nav-item{
        line-height: 60px;
    }
    .navbar-brand{
        padding: 0 15px 0 15px;
        border-right: 1px solid #c6d0da;
        transition: all 0.25s ease-in-out;
        &:hover{
            color: white;
            background-color: lighten(#5f6f81, 40%);
        }
    }
    .user-item{
        padding: 0 20px 0 30px;
        border-left: 1px solid #c6d0da;
        margin-left: 15px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        &:hover{
            color: white;
            background-color: #5f6f81;
        }
    }
}

button{
    cursor: pointer;
}