<p class="text-center text-muted">Mostrando {{showNo}} de {{pager.totalItems}} elementos</p>
<nav aria-label="Page navigation example">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage == page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
  </ul>
</nav>