<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="success-wrapper">
        <div class="success-container">
          <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
          <h2>&Eacute;xito!</h2>
          <p class="text-center">
            Tu orden ha sido enviada.
          </p>
          <p><i class="fa fa-certificate" aria-hidden="true"></i>
 &nbsp;<strong>Folio no.</strong>0394034930</p>
          <button class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i>
 &nbsp;Rastrear pedido</button>
          <button class="btn btn-secondary"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
 &nbsp;Seguir comprando</button>
        </div>
      </div>
    </div>
    
  </div>
</div>