h1{
    color: #5f6f81 !important;
    i {
        margin-right: 10px;
    }
    font-weight: 100;
    padding: 20px 0;
}

img{
    max-width: 75px;
    max-height: 75px;
    margin: 0 auto;
}

h5{
    strong{
        margin-right: 10px;
    }
    text-align: right;
    color: #5f6f81 !important;

}