<div class="card">
  <img class="img-fluid" src="https://www.medexpress.co.uk/javax.faces.resource/treatments/335x335xViagra-100mg.jpg.xhtml,qln=img.pagespeed.ic.vhQSuQlfXx.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{shopItem?.name}}</h4>
    <h6 class="text-muted">{{shopItem?.fancyName}}</h6>
    <p><i class="fa fa-star" aria-hidden="true" *ngFor="let s of arr"></i>
    <i class="fa fa-star-half" aria-hidden="true" *ngIf="aplica"></i>
    <small> ({{shopItem?.rating.length}} reviews)</small></p>
    <h3 class="card-text">${{shopItem?.discount}}.00 <small><del>${{shopItem?.price}}.00</del></small> </h3>
    <button type="button" class="btn btn-secondary btn-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Find near me</button>
    <button type="button" class="btn btn-primary btn-block"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>