<div class="container">
  <div class="row">
    <div class="col-12">
      <ngb-carousel>
        <template ngbSlide class="slide">
          <img class="d-block img-fluid" src="http://lorempixel.com/1200/500?r=1" alt="Random first slide">
          <div class="carousel-caption">
            <h4>First slide label</h4>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </template>
        <template ngbSlide class="slide">
          <img class="d-block img-fluid" src="http://lorempixel.com/1200/500?r=2" alt="Random second slide">
          <div class="carousel-caption">
            <h4>Second slide label</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </template>
        <template ngbSlide class="slide">
          <img class="d-block img-fluid" src="http://lorempixel.com/1200/500?r=3" alt="Random third slide">
          <div class="carousel-caption">
            <h4>Third slide label</h4>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </template>
      </ngb-carousel>
    </div>
  </div>
  <h3><i class="fa fa-home" aria-hidden="true"></i> Inicio</h3>
  <div class="row bottom-margin">
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="medicamentos"><h4>Medicamentos</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="saludnatural"><h4>Salud natural</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="vitaminas"><h4>Vitaminas y suplementos</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="dermocosmeticos"><h4>Demorcosméticos</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="personal"><h4>Cuidado personal y belleza</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="bebes"><h4>Bebés</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="alimentos"><h4>Alimentos y bebidas</h4></a></div>
    <div class="home-link col-sm-6 col-md-4 col-lg-3"><a routerLink="sexo"><h4>Salud sexual</h4></a></div>
  </div>
  <h3><i class="fa fa-star" aria-hidden="true"></i> Últimas clasificaciones</h3>
  <div class="row">
    <div class="card-columns">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
        </div>
      </div>
      <div class="card p-3">
        <blockquote class="card-block card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card card-inverse card-primary p-3 text-center">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer>
            <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card p-3 text-right">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
            longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
