/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'mixins';
@import 'tooltip';
html, body {
    font-family: 'Roboto', sans-serif;
  background-color: lighten(#32465A, 72%);
}

.loading-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .loading-icon{
    animation-name: loadingAnim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    i {
      color: #5f6f81 !important;
    }
  }
}

@keyframes loadingAnim {
  from{ transform: scale(1); }
  to { transform: scale(1.5);}
}

.btn {
  cursor: pointer;
  border-radius: 1px;
  transition: background-color 0.3s cubic-bezier(.25,.8,.25,1), box-shadow 0.2s ease-in-out;
  i{
      margin-right: .5em;
    }
    &:hover{
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    }
  &.btn-google {
    background-color: #d34836;
    color: white;
    border-bottom: 1px solid darken(#d34836, 10%);
    &:hover{
        background-color: lighten(#d34836, 10%);
        border-bottom: 1px solid #d34836;
    }
  }
  &.btn-facebook {
    background-color: #3b5998;
    color: white;
    border-bottom: 1px solid darken(#3b5998, 10%);
    &:hover{
        background-color: lighten(#3b5998, 10%);
        border-bottom: 1px solid #3b5998;
    }
  }

  &.btn-primary {
    background-color: #5f6f81;
    border: none;
    border-bottom: 1px solid darken(#5f6f81, 10%) !important;
    &:hover {
      background-color: lighten(#5f6f81, 10%);
      border-bottom: 1px solid #5f6f81 !important;
    }
    
  }
  &.btn-secondary {
    border: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    &:hover:not(.active){
      background-color: #ecf0f1;
      color: #000 !important;
      border-bottom: 1px solid darken(#bdc3c7, 10%);
    }
  }
  &.btn-success {
    background-color: #27ae60;
    border: none;
    border-bottom: 1px solid darken(#27ae60, 20%);
    &:hover {
      background-color: lighten(#27ae60, 20%);
      border-bottom: 1px solid #27ae60;
    }
  }
}

.alert{
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}