<div class="card">
  <div class="card-header">
    <h4 class="card-title">Mi información</h4>
     <a [routerLink]="['../edit']" class="edit-card"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
  </div>
  <div class="card-block">
   
    <p class="card-text"><i class="fa fa-user" aria-hidden="true"></i> {{userInfo.name}}</p>
    <p class="card-text"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{userInfo.email}}</p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

